<?xml version="1.0"?>

<launch>

    <arg name="handshake_controller_enabled" default="true"/>
<!--     <arg name="hand_controller_enabled" default="true"/>
 -->    <arg name="adc_board_enabled" default="true"/>
    <arg name="hs_control_type" default="1"/>
    <arg name="hs_subj_ID" default="1"/>
    <arg name="hs_subj_task" default="1"/>

    <node name="handshake_EKF_node" pkg="handshake_ekf" type="handshake_EKF"  />

    <group if="$(arg handshake_controller_enabled)">
            
    <node name="handshake_control_strategy_node" pkg="handshake_control_strategy" type="handshake_control_strategy" args="$(arg hs_control_type) $(arg ha_subj_ID) $(arg hs_subj_task)" output="screen" required="true"/>

    </group>

    <node name="handshake_record" pkg="rosbag" type="record" args="/qb_class_imu/adc /qb_class/hand_current /qb_class/hand_measurement /panda_arm/desired_stiffness_matrix /panda_arm/equilibrium_pose /handshake_EKF_controlled_pose /handshake_EKF_state /handshake_control_ID /handshake_current_arm_stiffness /handshake_feedback_flag_activation /handshake_pressure_feedback_activation /handshake_subject_ID /handshake_subject_task -o /home/franka/Desktop/subj_$(arg hs_subj_ID)_iter_$(arg hs_subj_task)" output="screen"/> 


    <!-- <group if="$(arg hand_controller_enabled)">

            <include file="$(find qb_interface)/launch/qb_interface.launch">
            </include>

    </group> -->

    

    <group if="$(arg adc_board_enabled)">

            <include file="$(find qb_interface)/launch/qb_interface_imu.launch">
            </include>

    </group>


</launch>