<?xml version="1.0"?>

<launch>

    <arg name="handshake_controller_enabled" default="true"/>
<!--     <arg name="hand_controller_enabled" default="true"/>
 -->    <arg name="adc_board_enabled" default="true"/>
    <arg name="handshake_controller_type" default="1"/>
    <arg name="handshake_subject_ID" default="1"/>
    <arg name="handshake_subject_task" default="1"/>

    <node name="handshake_EKF_node" pkg="handshake_ekf" type="handshake_EKF"  />

    <group if="$(arg handshake_controller_enabled)">
            
    <node name="handshake_control_strategy_node" pkg="handshake_control_strategy" type="handshake_control_strategy" args="$(arg handshake_controller_type) $(arg handshake_subject_ID) $(arg handshake_subject_task)" output="screen" required="true"/>

    </group>

    <!-- <node name="handshake_record" pkg="rosbag" type="record" args="-a -o /home/domenico/Desktop/subj_$(arg handshake_subject_ID)_iter_$(arg handshake_subject_task)" output="screen"/> -->


    <!-- <group if="$(arg hand_controller_enabled)">

            <include file="$(find qb_interface)/launch/qb_interface.launch">
            </include>

    </group> -->

    

    <group if="$(arg adc_board_enabled)">

            <include file="$(find qb_interface)/launch/qb_interface_imu.launch">
            </include>

    </group>


</launch>